*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    background-color: bisque;
    padding: 20px 0;
}

header ul{
    display: flex;
    gap: 30px;
    align-items: center;
}

ul button{
    background-color: brown;
    border: none;
    padding: 10px 15px; 
}

.lines{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 30px;
    display: none;
}

.lines p{
    background-color: brown;
    width: 100%;
    height: 3px;
}

@media(max-width:640px){
    .lines{
        display: flex;
    }
    header ul{
        display: none;
    }
}